body{
	background: #DFD8D8FF;
}

.h{
	height: 30px;
	width: 60px;
	border-radius: 10px;
	background: #168062FF;
	color: #fff;
	transition: all .5s;
	position: absolute;
	top: 50px;
	left:400px;
	cursor: pointer;
}
.h:hover{
	height: 40px;
	width: 70px;
}
#pass{
	position: absolute;
	left: 101px;
}
