div div{
	transition: all .5s;
	width: 300px;
}
div div:hover{
	margin: 12px;
}
div p{
	color:#34a0df;
	margin: 0px 0px 0px 20px;
	cursor: pointer;
	height: 40px;
	transition: all .12s;
}
div p:hover{
	font-size: 1.2em;
	color: #1d9ae2;
}